<a href="https://colab.research.google.com/github/RochevAleksey/hello-world/blob/main/%D0%A2%D0%B5%D0%BC%D0%B0_1_(%D1%87%D0%B8%D1%81%D0%BB%D0%B0%2C_%D1%81%D1%82%D1%80%D0%BE%D0%BA%D0%B8%2C_%D0%B4%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%82%D0%B8%D0%BF%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Тема 1 Числа, строки, динамическая типизация

# Аудиторка

**Задача**

Отобрали, подготовили, исследовали керн. Месторождение Ярегское, скважина S-2H, глубина 207.13 м, направление - параллельно напластованию.


![sample 66](https://drive.google.com/uc?export=view&id=1hQ3ELe6TnsxXqRwmnsh656189O9bqg2p)


Диаметр образца 29.36 мм.

![sample 66](https://drive.google.com/uc?export=view&id=13izSnleNG5CEI8j5PKsrIt3JqTHrYY6T)


Длина образца 40.60 мм.

![sample 66](https://drive.google.com/uc?export=view&id=1bFBiE-DI1zutkn-KS797HWIi3gu95JM6)


Задача: рассчитать объем образца.

Поскольку образец цилиндрической формы, очевидно

$$v = \frac{\pi d^2}{4}l$$

Проведем расчет

In [ ]:
3.14*29.36**2/4*40.60*1e-3

27.473107961600004

Умножение на `1e-3` произведено для перевода объема в куб. см.

В целом порядок действий очевиден. Сомнения может вызвать только возведение в степень (действие `**`). Проверим

In [ ]:
3.14*(29.36**2)/4*40.60*1e-3

27.473107961600004

Результат полностью совпадает с предыдущим.

Приведенный расчет  некорректен с точки зрения точности, поскольку используемое значение константы $\pi-$ `3.14` ниже точности измерения, так как содержит только три значащие цифры, а замер произведен с четырмя значащими цифрами.

Для того, чтобы не заботиться о точности ввода $\pi$, воспользуемся математическим модулем.

In [ ]:
from math import pi
pi*29.36**2/4*40.60*1e-3

27.48704272084134

Теперь наша программа состоит из двух инструкций, записанных в две строки. В первой строке приведенного выше кода производится импорт константы $\pi$ из математического модуля `math`. Более подробное описание работы с модулями - впереди. 

Во второй строке находится инструкция расчета объема образца, которая состоит из имени `pi`, чисел и математических операторов (`/`, `*`, `**`). Окончанием инструкции в Питоне по умолчанию является конец строки. Поскольку результаты замера длины и диаметра у нас приведены в виде чисел, то во всем выражении неясным остается только значение `pi`. Давайте посмотрим ее значение.

In [ ]:
print(pi)

3.141592653589793

`print` - встроенная функция для вывода. По умолчанию вывод производится в так называемый стандарный вывод (т.е. на экран).

В принципе, если ограничиться только вычислением объема, то задача решена. Однако, если значение объема понадобится нам в дальнейшем, то его придется вычислить снова, поскольку оно нигде не сохранилось. Если мы хотим сохранить вычисленное значение, то надо немного изменить нашу программу.

In [ ]:
volu = pi*29.36**2/4*40.60*1e-3
print('Объем образца, см3:', volu)

Объем образца, см3: 27.48704272084134

Теперь имя `volu` ссылается на результат нашего расчета. И хотя часто говорят, что оператор `=` присваивает переменной `volu` значение нашего расчета, с точки зрения языка Питон это не совсем так, поскольку в Питон используется ссылочная модель данных. Более подробно особенности ссылочной модели будут ясны из дальнейшего изложения и примеров. А пока, раз уж начали, давайте дадим имена всем сведениям о нашем образце керна.

In [ ]:
diam = 29.36
length = 40.60
field = 'Ярегское'
well = 'S-2H'
depth = 207.13
direction = 'parallel'
num = '66'

Поскольку мы записали каждую инструкцию присваивания в отдельную строку, то наша программа начинает расти в размере. В принципе, Питон поддерживает точку с запяток в качестве разделителя инструкций. Поэтому возможна следующая запись.

In [ ]:
diam = 29.36; length = 40.60
field = 'Ярегское'; well = 'S-2H'
depth = 207.13; direction = 'parallel'
num = '66'

Хотя приведенный выше код и занимает меньше строк, но вряд ли выигрывает с точки зрения читаемости.

Более удобным, как с точки зрения читаемости, так и с точки зрения удобства, может быть кортежное присваивание.

In [ ]:
diam, length = 29.36, 40.60
field, well = 'Ярегское', 'S-2H'
depth, direction = 207.13, 'parallel'
num = '66'

В Питоне применяется т.н. динамическая типизация. Это означает, что нам не нужно указывать, какого типа будет переменная. Но, очевидно, что если мы дали чему-то имя, то в дальнейшем мы собираемся его каким-то образом применять, например, использовать в инструкциях. Поэтому, у введенных нами данных все равно есть какой-то тип.

Для просмотра типа введенной переменной существует функция `type`. Давайте посмотрим тип введенных нами данных.

In [ ]:
print(type(pi))
print(type(diam))
print(type(field))
print(type(num))
print(type(volu))

<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'float'>

Обратите внимание, что для всех переменных в результате присутствует `class`. Это одно из центральных понятий языка Питон. Питон - это object-based язык. Т.е. язык, основанный на объектах. Так, в нашем примере, имя `diam` - это ссылка на объект типа `float`, а `field` - на объект типа строки (`str`). Имя `sample` также указывает на объект типа `str` (это произошло потому, что мы ввели его в кавычках).

В Питон все является объектом. Например,

In [ ]:
print(type(2))

<class 'int'>

Применение математических операторов к объектам типа `int` и `float` естественно. Однако, в Питон возможно применение операций сложения и, например, к строковому типу

In [ ]:
sample = field + well + num
print(sample)

ЯрегскоеS-2H66

Зависимость результата операции от типа данных, к которым она применяется, называется полиморфизмом.

Поскольку определение типа данных происходит автоматически, то существует возможность привести тип данных.

Например

In [ ]:
depth1 = str(depth)
print(2*depth1)
print(type(depth1))

207.13207.13
<class 'str'>

В некоторых случаях возможно и преобразование стокового типа в числовой.

In [ ]:
n = int(num)
print(n, type(n))

66 <class 'int'>

Важным типом данных является логических тип

In [ ]:
flag = diam < length
print(flag, type(flag))

flag_new = diam > length

True <class 'bool'>
1 <class 'int'>

Итак, **структура программы** на Питоне:

1. Программы делятся на модули
2. Модули содержат инструкции
3. Инструкции состоят из выражений
4. Выражения оперируют объектами

Объекты, это нечто большее, чем просто строки или числа (дробные или целые). У объектов есть методы. Например, у класса `float` есть метод, позволяющий определить, является ли число целым

In [ ]:
print(diam.is_integer())

False

Метод `is_integer` может быть вызван даже для объекта, записанного в виде числа, для которого не введено никакого имени (т.е. оно записано просто в виде литерала, в терминологии Питон)

In [ ]:
print(2.0.is_integer())

True

Строковый тип данных объект в Питон является индексируемым. Это означает, что мы может записать.

In [ ]:
print(well[0])

S

Где `[0]` означает первый символ в строке (индексация элементов в Питон начинается с нуля). Можно посмотреть (или извлечь) срез.

In [ ]:
#извлечение со второго по пятый (последний) символ
well_num = well[2:5]
print(well_num)
#извлечение со второго по последний
well_num = well[2:]
print(well_num)

2H
2H

Но объект типа `str` является не изменяемым. Это означает, что мы не можем записать

In [ ]:
well[0] = 'M'

TypeError: ignored

Что, конечно, не означает, что мы не может заменить первый символ строки. Для этого можно воспользоваться "штатным" методом класса `str`.

In [ ]:
print(well.replace('S', 'M'))

Тут необходимо заметить, что предыдущая инструкция не изменяет объект, на который ссылается имя `well`. Это легко проверить.

In [ ]:
print(well)

Для замены надо переприсвоить

In [ ]:
well = well.replace('S', 'M')
print(well)

#Задачи

---
**Задача 1.1** Пористость образца - 21.4%. Рассчитайте поровый объем


$$ PV = V\cdot PORO $$

---
**Задача 1.2** Масса образца - 56.0360 г. Рассчитайте объемную плотность образца

$$\rho = m/V$$

---
**Задача 1.3** Масса образца - 56.0360 г. Пористость образца - 21,4%. Рассчитайте минералогическую плотность образца

$$\rho_M = m/MV$$

где $MV$ - объем зерен

$$MV = V(1-PORO)$$

---
**Задача 1.4** Пористость образца - 21,4%. Образец полностью насыщают минерализованной водой плотностью $\rho_в = 1.15\, г/см^3$. Рассчитайте массу воды в образце.

Сначала рассчитаем поровый объем
$$PV = V\cdot PORO$$

Поскольку поры полностью заполняются водой, то объем воды равен поровому объему. Тогда масса воды

$$m_в = PV\cdot \rho_в$$

---
**Задача 1.5** Для насыщения образца надо приготовить солевой раствор. Необходимо, чтобы объем раствора был не менее пяти поровых объемов образца. Если плотность раствора будет равна $\rho = 1.163 г/см^3$, какова будет масса приготовленного раствора.

Пять поровых объемов это

$$SV = 5V\cdot PORO$$

Масса раствора 

$$SM = SV\cdot \rho$$

---
**Задача 1.6** При растворении 10 г гидроксида натрия в 250 г воды температура повысилась на $\Delta T = 9,7\, К$. Определить теплоту растворения NaOH, принимая удельную
теплоемкость раствора равной удельной теплоемкости воды $c_W = 4,18\,Дж/(г·К)$.

Находим массу раствора 

$$SM = M_W+M_{NaOH}$$

Находим теплоту

$$Q = SM\cdot c_W \cdot \Delta T$$

#Литература


Лутц. Главы 1-3 и 5

#Паскаль реализация

```
var 
  l, d : real;
  v: real;

begin
  l := 40.60;
  d := 29.36;
  v := 3.14*d*d/4*l;
  writeln(v*1e-3);
end.
```